openapi: 3.0.0
info:
  title: NBA Player
  description: API Seputar NBA
  version: 1.0.0
servers:
  - url: https://www.balldontlie.io/api/v1
    description: server utama NBA
  - url: https://www.balldontlie.io/api/v2
    description: server kedua NBA
paths:
  /players:
    get:
      summary: Get all players from all seasons
      description: Cari semua pemain NBA
      responses:
        '200':
          description: SUKSES BESAR BOS
          content:
            application/json:
              schema:
                type: object
                properties: 
                  data: 
                    type: array
                    items: 
                      type: object
                      properties:
                        id:
                          type: integer
                        first_name:
                          type: string
                        last_name:
                          type: string
                        position:
                          type: string
                        height_feet:
                          type: integer
                        height_inches:
                          type: integer
                        weight_pounds:
                          type: integer
                        team:
                          type: object
                          properties:
                            id:
                              type: integer
                            abbreviation:
                              type: string
                            city: 
                              type: string
                            conference:
                              type: string
                            division:
                              type: string
                            full_name:
                              type: string
                            name:
                              type: string
                  meta: 
                    type: object
                    properties: 
                      total_pages:
                        type: integer
                      current_pages:
                        type: integer
                      next_page:
                        type: integer
                      per_page:
                        type: integer
                      total_count: 
                        type: integer

